node_modules/
out/
release/
dist/
build/
.vite/

vendor/**/bin/
vendor/**/obj/
vendor/**/packages/
vendor/Roblox-File-Format/UnitTest/obj/

*.user
*.suo
*.log
*.tsbuildinfo
*.pdb
*.cache

vendor/Roblox-File-Format/RobloxFileFormat.dll
vendor/Roblox-File-Format/Update/RobloxFileFormat.Update.exe

.env
.env.*
